:root {
    --color-morado: #9755F6;
    --color-azul-celeste: #3DB2E7;
    --color-borgoña-rojo: #95162F;
    --color-negro: #000000;
    --color-blanco: #FFF;
    --font-family: 'Roboto', sans-serif;
}